.projects {
  width: 90%;
  margin: auto;
  min-height: 90vh;
  font-family: "Satisfy", cursive;
  @include flex(space-between, centre, row);
  text-align: center;
  flex-wrap: wrap;
  h2 {
    margin: 5rem;
  }
}
.travelly,
.elena,
.Task Planner,
.Quiz App {
  flex: 1 1 40rem;
}
